<a href="https://colab.research.google.com/github/hojuna/Black-box_Optimization_dacon/blob/main/test_submission.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import joblib
import os


# 모델을 저장할 디렉토리 경로 설정
# save_dir = "/content/drive/MyDrive/dacon/model/tuning_model/"


# Load the data
# train_df_org = pd.read_csv('/content/drive/MyDrive/dacon/2024_8_data/train.csv')
# test_df = pd.read_csv('/content/drive/MyDrive/dacon/2024_8_data/test.csv')

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# 1. 데이터프레임 불러오기
# 데이터프레임이 두 개 있다고 가정하고 df1, df2로 불러온다.
df1 = pd.read_csv('/content/drive/MyDrive/dacon/2024_8_data/submission/FE6_stacking_submission.csv')  # 첫 번째 파일
df2 = pd.read_csv('/content/drive/MyDrive/dacon/2024_8_data/Fe_huber.csv')
# df2 = pd.read_csv('/content/drive/MyDrive/dacon/2024_8_data/submission/FE4_stacking_submission.csv')
# 2. 같은 id를 가진 데이터에서 y_pred값의 유사도 계산
# ID를 기준으로 데이터를 병합
merged_df = pd.merge(df1[['ID', 'y']], df2[['ID', 'y']], on='ID', suffixes=('_df1', '_df2'))

# 코사인 유사도 계산
# merged_df['similarity'] = merged_df.apply(lambda row: cosine_similarity([[row['y_df1']]], [[row['y_df2']]])[0][0], axis=1)
merged_df['similarity'] =1 - abs(merged_df['y_df1'] - merged_df['y_df2']) / max(merged_df['y_df1'].max(), merged_df['y_df2'].max())

# 3. y_pred 값을 기준으로 상위 10% id 추출
top_10_percent_df1 = df1.nlargest(int(len(df1) * 0.1), 'y')['ID'].tolist()
top_10_percent_df2 = df2.nlargest(int(len(df2) * 0.1), 'y')['ID'].tolist()

# 4. 상위 10% id들간 유사도 계산
# 상위 10%의 id를 기준으로 필터링
top_merged_df = merged_df[merged_df['ID'].isin(top_10_percent_df1) & merged_df['ID'].isin(top_10_percent_df2)]

# 5. 겹치는 id와 안 겹치는 id 리스트 반환
# 겹치는 id
common_ids = set(top_10_percent_df1).intersection(set(top_10_percent_df2))
# 안 겹치는 id
not_common_ids = set(top_10_percent_df1).symmetric_difference(set(top_10_percent_df2))

# 결과 출력
print("겹치는 ID: ", list(common_ids))
print("안 겹치는 ID: ", list(not_common_ids))

# 유사도 계산된 데이터프레임 출력
print(top_merged_df['similarity'])


# 5. not_common_ids가 어떤 df에 존재하고 어떤 df에 존재하지 않는지 확인
not_common_info = []

for id in not_common_ids:
    in_df1 = id in top_10_percent_df1
    in_df2 = id in top_10_percent_df2
    not_common_info.append({
        'id': id,
        'in_df1': in_df1,
        'in_df2': in_df2
    })

# 6. 결과를 데이터프레임으로 변환
not_common_df = pd.DataFrame(not_common_info)

# 7. 결과 출력
print("Not common IDs가 각 데이터프레임의 상위 10%에 존재하는지 여부:")
print(not_common_df)

겹치는 ID:  ['TEST_2721', 'TEST_3268', 'TEST_3511', 'TEST_4013', 'TEST_2235', 'TEST_4689', 'TEST_3561', 'TEST_3693', 'TEST_0562', 'TEST_1099', 'TEST_1018', 'TEST_4597', 'TEST_0627', 'TEST_2662', 'TEST_1009', 'TEST_1871', 'TEST_0978', 'TEST_2553', 'TEST_4335', 'TEST_0703', 'TEST_2393', 'TEST_0592', 'TEST_2103', 'TEST_0496', 'TEST_3347', 'TEST_1928', 'TEST_2060', 'TEST_3543', 'TEST_2565', 'TEST_4436', 'TEST_3480', 'TEST_0130', 'TEST_4391', 'TEST_1949', 'TEST_0783', 'TEST_4043', 'TEST_1999', 'TEST_3356', 'TEST_0809', 'TEST_3990', 'TEST_3502', 'TEST_1380', 'TEST_2249', 'TEST_1595', 'TEST_3978', 'TEST_0963', 'TEST_0608', 'TEST_0125', 'TEST_2808', 'TEST_1599', 'TEST_3209', 'TEST_0865', 'TEST_3830', 'TEST_1850', 'TEST_2765', 'TEST_1621', 'TEST_3982', 'TEST_3265', 'TEST_1089', 'TEST_0460', 'TEST_0739', 'TEST_2658', 'TEST_1156', 'TEST_2679', 'TEST_3448', 'TEST_2229', 'TEST_0864', 'TEST_4736', 'TEST_2418', 'TEST_0800', 'TEST_1898', 'TEST_2433', 'TEST_4077', 'TEST_0713', 'TEST_3065', 'TEST_1755', 'TEST_2706', 'TEST_4455', 'TEST_0299', 'TEST_1193', 'TEST_1343', 'TEST_0122', 'TEST_4501', 'TEST_3532', 'TEST_0711', 'TEST_4878', 'TEST_2749', 'TEST_3956', 'TEST_2204', 'TEST_4283', 'TEST_0202', 'TEST_1400', 'TEST_4872', 'TEST_1026', 'TEST_0698', 'TEST_3281', 'TEST_4105', 'TEST_1528', 'TEST_1839', 'TEST_1346', 'TEST_1816', 'TEST_3459', 'TEST_0907', 'TEST_3829', 'TEST_2549', 'TEST_2561', 'TEST_2718', 'TEST_2255', 'TEST_2079', 'TEST_2140', 'TEST_4674', 'TEST_1653', 'TEST_4682', 'TEST_2287', 'TEST_2742', 'TEST_3859', 'TEST_4781', 'TEST_2395', 'TEST_3474', 'TEST_3390', 'TEST_2754', 'TEST_4196', 'TEST_3889', 'TEST_4960', 'TEST_0378', 'TEST_0918', 'TEST_1818', 'TEST_3744', 'TEST_0392', 'TEST_0197', 'TEST_1141', 'TEST_3745', 'TEST_3971', 'TEST_1377', 'TEST_0603', 'TEST_4070', 'TEST_0917', 'TEST_3838', 'TEST_0580', 'TEST_3216', 'TEST_0572', 'TEST_2763', 'TEST_4543', 'TEST_4039', 'TEST_0830', 'TEST_4094', 'TEST_0581', 'TEST_3739', 'TEST_2398', 'TEST_2714', 'TEST_2256', 'TEST_4928', 'TEST_1427', 'TEST_0175', 'TEST_3343', 'TEST_4915', 'TEST_0313', 'TEST_4019', 'TEST_3379', 'TEST_3504', 'TEST_1083', 'TEST_3801', 'TEST_3338', 'TEST_4775', 'TEST_2231', 'TEST_4787', 'TEST_2014', 'TEST_2331', 'TEST_0161', 'TEST_2264', 'TEST_0571', 'TEST_0538', 'TEST_1545', 'TEST_1529', 'TEST_2879', 'TEST_4495', 'TEST_3731', 'TEST_1060', 'TEST_3692', 'TEST_1478', 'TEST_4921', 'TEST_2173', 'TEST_2505', 'TEST_3579', 'TEST_3329', 'TEST_2684', 'TEST_0718', 'TEST_4062', 'TEST_3981', 'TEST_3288', 'TEST_4531', 'TEST_3506', 'TEST_4248', 'TEST_3319', 'TEST_3523', 'TEST_2966', 'TEST_4295', 'TEST_0886', 'TEST_0612', 'TEST_1958', 'TEST_3309', 'TEST_1946', 'TEST_0208', 'TEST_2260', 'TEST_1706', 'TEST_0203', 'TEST_1012', 'TEST_4292', 'TEST_4051', 'TEST_2035', 'TEST_4037', 'TEST_4834', 'TEST_0057', 'TEST_0086', 'TEST_0872', 'TEST_4213', 'TEST_2169', 'TEST_3786', 'TEST_1592', 'TEST_3696', 'TEST_2146', 'TEST_4363', 'TEST_2713', 'TEST_1299', 'TEST_0731', 'TEST_3090', 'TEST_1751', 'TEST_2927', 'TEST_3515', 'TEST_2937', 'TEST_1020', 'TEST_4699', 'TEST_0968', 'TEST_3593', 'TEST_3482', 'TEST_3932', 'TEST_0015', 'TEST_3213', 'TEST_1843', 'TEST_1973', 'TEST_4703', 'TEST_1224', 'TEST_1812', 'TEST_4697', 'TEST_3495', 'TEST_2143', 'TEST_4975', 'TEST_4169', 'TEST_1172', 'TEST_2058', 'TEST_0840', 'TEST_0977', 'TEST_4881', 'TEST_1220', 'TEST_3718', 'TEST_1932', 'TEST_3005', 'TEST_4690', 'TEST_1775', 'TEST_3402', 'TEST_0805', 'TEST_4652', 'TEST_4522', 'TEST_4586', 'TEST_3287', 'TEST_4802', 'TEST_2345', 'TEST_1609', 'TEST_2733', 'TEST_1287', 'TEST_4746', 'TEST_2719', 'TEST_1610', 'TEST_2351', 'TEST_1530', 'TEST_1746', 'TEST_0721', 'TEST_2093', 'TEST_3811', 'TEST_2292', 'TEST_1002', 'TEST_0984', 'TEST_1978', 'TEST_2424', 'TEST_4759', 'TEST_3633', 'TEST_4962', 'TEST_1976', 'TEST_3730', 'TEST_2788', 'TEST_1361', 'TEST_3734', 'TEST_4214', 'TEST_4955', 'TEST_3675', 'TEST_2251', 'TEST_4734', 'TEST_3925', 'TEST_1598', 'TEST_4738', 'TEST_1650', 'TEST_2381', 'TEST_0520', 'TEST_4293', 'TEST_4545', 'TEST_1788', 'TEST_1374', 'TEST_2627', 'TEST_4450', 'TEST_3403', 'TEST_4708', 'TEST_0085', 'TEST_4259', 'TEST_4287', 'TEST_0167', 'TEST_3349', 'TEST_4305', 'TEST_2315', 'TEST_0621', 'TEST_2128', 'TEST_4220', 'TEST_1731', 'TEST_3789', 'TEST_4747', 'TEST_1381', 'TEST_2386', 'TEST_2941', 'TEST_4330', 'TEST_2607', 'TEST_1253', 'TEST_1429', 'TEST_2543', 'TEST_0506', 'TEST_1255', 'TEST_1680', 'TEST_1327', 'TEST_4258', 'TEST_3259', 'TEST_1690', 'TEST_1803', 'TEST_4474', 'TEST_1780', 'TEST_1853', 'TEST_0490', 'TEST_0647', 'TEST_2432', 'TEST_3157', 'TEST_4573', 'TEST_4154', 'TEST_0976', 'TEST_0403', 'TEST_1495', 'TEST_2589', 'TEST_3172', 'TEST_4410', 'TEST_1015', 'TEST_0814', 'TEST_4748', 'TEST_1246', 'TEST_1970', 'TEST_0632', 'TEST_2547', 'TEST_0539', 'TEST_3014', 'TEST_2429', 'TEST_3330', 'TEST_1162', 'TEST_0815', 'TEST_4205', 'TEST_0769', 'TEST_3004', 'TEST_0588', 'TEST_2499', 'TEST_1990', 'TEST_2803', 'TEST_1331', 'TEST_2403', 'TEST_1597', 'TEST_2444', 'TEST_2772', 'TEST_1192', 'TEST_3094', 'TEST_3907', 'TEST_2108', 'TEST_0425', 'TEST_2770', 'TEST_0244', 'TEST_2332', 'TEST_4828', 'TEST_0447', 'TEST_1248', 'TEST_0846', 'TEST_4705', 'TEST_4237', 'TEST_1394', 'TEST_0180', 'TEST_4140', 'TEST_1510', 'TEST_3676', 'TEST_1917', 'TEST_1645', 'TEST_1494', 'TEST_0542', 'TEST_2036', 'TEST_0254', 'TEST_3986', 'TEST_4300', 'TEST_0665', 'TEST_3625', 'TEST_4069', 'TEST_1721', 'TEST_0799', 'TEST_2125', 'TEST_4318', 'TEST_1486', 'TEST_2985', 'TEST_1661', 'TEST_0535', 'TEST_3975', 'TEST_3455', 'TEST_4745', 'TEST_0326', 'TEST_0361', 'TEST_2068', 'TEST_0613', 'TEST_3627', 'TEST_4437', 'TEST_2285', 'TEST_0691', 'TEST_1335', 'TEST_2893', 'TEST_2947', 'TEST_1557', 'TEST_1512', 'TEST_2894', 'TEST_4508', 'TEST_3377', 'TEST_1215', 'TEST_3420', 'TEST_2865', 'TEST_0143', 'TEST_2000', 'TEST_3576', 'TEST_1593', 'TEST_1370', 'TEST_0823', 'TEST_2998', 'TEST_0453', 'TEST_0207', 'TEST_4533', 'TEST_1363', 'TEST_0706', 'TEST_1077', 'TEST_4470', 'TEST_1485', 'TEST_1517', 'TEST_0347', 'TEST_0666', 'TEST_3372', 'TEST_2569', 'TEST_2540', 'TEST_0309', 'TEST_2467', 'TEST_4971', 'TEST_1831', 'TEST_4392', 'TEST_0107', 'TEST_1841', 'TEST_3906', 'TEST_4936', 'TEST_3749', 'TEST_3365', 'TEST_4247', 'TEST_0224', 'TEST_2887', 'TEST_4472', 'TEST_2016', 'TEST_2394', 'TEST_0642', 'TEST_3102', 'TEST_1055', 'TEST_4582', 'TEST_4329', 'TEST_1144', 'TEST_4082', 'TEST_0510', 'TEST_0389', 'TEST_0813', 'TEST_2064', 'TEST_4085', 'TEST_2003', 'TEST_1966', 'TEST_2896', 'TEST_2682']
안 겹치는 ID:  ['TEST_4033', 'TEST_4982', 'TEST_1904', 'TEST_0493', 'TEST_0635', 'TEST_2632', 'TEST_2613', 'TEST_4221']
15      0.966071
57      0.982652
85      0.982602
86      0.970448
107     0.993624
          ...
4955    0.966339
4960    0.971957
4962    0.988446
4971    0.991400
4975    0.993357
Name: similarity, Length: 494, dtype: float64
Not common IDs가 각 데이터프레임의 상위 10%에 존재하는지 여부:
          id  in_df1  in_df2
0  TEST_4033    True   False
1  TEST_4982    True   False
2  TEST_1904    True   False
3  TEST_0493   False    True
4  TEST_0635   False    True
5  TEST_2632    True   False
6  TEST_2613   False    True
7  TEST_4221   False    True

In [ ]:
test_df = pd.read_csv('/content/drive/MyDrive/dacon/2024_8_data/test.csv')

In [ ]:
for i in not_common_info:
  print(test_df[test_df['ID']==i["id"]])
  # print(i["ID"])

             ID       x_0       x_1       x_2       x_3     x_4       x_5  \
4033  TEST_4033  0.929017 -1.319202  1.132521  0.928131 -0.4666 -1.603482

           x_6       x_7       x_8       x_9      x_10
4033  0.542868 -0.068696  0.582643  0.397533 -0.017832
             ID       x_0       x_1       x_2       x_3       x_4       x_5  \
4982  TEST_4982  0.932432 -1.193839  1.139827  0.955182 -0.471994 -1.600613

           x_6       x_7       x_8       x_9      x_10
4982  0.541196 -0.071568  0.583131  0.397209 -0.017859
             ID       x_0       x_1       x_2       x_3      x_4       x_5  \
1904  TEST_1904  0.970285 -1.122419  1.109129  0.939056 -0.48429 -1.587136

           x_6     x_7       x_8       x_9      x_10
1904  0.545254 -0.0651  0.583269  0.400834 -0.023595
            ID       x_0       x_1       x_2       x_3       x_4       x_5  \
493  TEST_0493  0.918469 -1.309186  1.142507  0.951061 -0.453826 -1.603024

          x_6       x_7       x_8       x_9      x_10
493  0.540885 -0.070127  0.579835  0.399579 -0.016462
            ID       x_0       x_1       x_2       x_3       x_4       x_5  \
635  TEST_0635  0.917781 -1.239028  1.140896  0.948947 -0.469531 -1.602144

          x_6       x_7       x_8       x_9      x_10
635  0.539699 -0.075199  0.578516  0.401835 -0.016734
             ID       x_0       x_1      x_2       x_3       x_4       x_5  \
2632  TEST_2632  0.973666 -1.226481  1.14614  0.940225 -0.456507 -1.603538

           x_6       x_7       x_8       x_9      x_10
2632  0.539448 -0.074272  0.580431  0.398295 -0.017186
             ID       x_0       x_1       x_2       x_3      x_4       x_5  \
2613  TEST_2613  0.974552 -1.338527  1.145203  0.958389 -0.45766 -1.606754

           x_6      x_7       x_8       x_9      x_10
2613  0.533583 -0.07777  0.576909  0.399103 -0.014893
             ID       x_0      x_1       x_2       x_3      x_4       x_5  \
4221  TEST_4221  0.954349 -1.31791  1.151509  0.954435 -0.45761 -1.603621

           x_6       x_7       x_8       x_9      x_10
4221  0.532879 -0.068488  0.578439  0.396782 -0.014838

In [ ]:

'TEST_3319' in top_10_percent_df1

True

In [ ]:
test_df[test_df['ID']=='TEST_4982']

,ID,x_0,x_1,x_2,x_3,x_4,x_5,x_6,x_7,x_8,x_9,x_10
2632,TEST_2632,0.973666,-1.226481,1.14614,0.940225,-0.456507,-1.603538,0.539448,-0.074272,0.580431,0.398295,-0.017186

In [ ]:
# TEST_4711
# TEST_2220

In [ ]:
df1[df1['ID']=='TEST_2632']

             ID         y
4982  TEST_4982  90.91188

In [ ]:
df1.loc[df1['ID'] == 'TEST_2632', 'y'] = 95.91188
df1.to_csv("/content/drive/MyDrive/dacon/2024_8_data/submission/FE6_stacking_submission.csv", index=False)